body {
    background-color: #BEBEBE;
    color: #444444;
    font-family:verdana;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color:white;
    margin-top: 0px;
}

table {
    margin: auto;
    display: table;
    text-align: center;
    background-color: #eeeeee;
    width: 300px;
}

#logInTableId, #signUpTable {
    text-align: left;
    padding-top: 10px;
}

#logInHeaderId, #createAccountId {
    text-align: center;
}

button {
    color:white;
    background-color: #4b667e;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
}

hr {
    border-top: 1px solid lightblue;
    width: 95%;
}

#signUpButtonId {
    margin-top: 10px;
    margin-bottom: 20px;
}

#forgotPasswordId {
    color: #929292;
    font-size: small;
}

input {
    padding: 5px;
    margin-left: 5px;
    border: 1.5px solid darkgray;
    width: 270px;
}

a {
    color:white;
    text-decoration: none;
}

#createAccountId {
    padding-top: 10px;
}

#mentorOrMenteeTextId {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#signUpSurveyButtonId {
    text-align: center;
    margin-top: 5px;
    margin-left: 19px;
    margin-bottom: 5px;
}

#signUpSpacing {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eeeeee;
}

#mentorRadioButton, #menteeRadioButton {
    /* margin: 0px;
    padding: 0px; */
    float: left;
    vertical-align: middle;
    color: red;
    margin: 0px;
    /* text-align: left; */
}

#mentorId, #menteeId {
    margin: 0px 0px 0px 10px; float: left;
}