body {
    background-color: #BEBEBE;
    color: #444444;
    font-family:verdana;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color:white;
    margin-top: 0px;
}

table {
    margin: auto;
    display: table;
    text-align: center;
    background-color: #eeeeee;
    width: 300px;
}

#logInTableId, #signUpTable, #surveyTableId {
    text-align: left;
    padding-top: 10px;
}

#logInHeaderId, #createAccountId, #matchSurveyId {
    text-align: center;
}

button {
    color:white;
    background-color: #4b667e;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
}

hr {
    border-top: 1px solid lightblue;
    width: 95%;
}

#signUpButtonId {
    margin-top: 10px;
    margin-bottom: 20px;
}

#forgotPasswordId {
    color: #929292;
    font-size: small;
}

input {
    padding: 5px;
    margin-left: 5px;
    border: 1.5px solid darkgray;
    width: 270px;
}

a {
    color:white;
    text-decoration: none;
}

#createAccountId {
    padding-top: 10px;
}

#mentorOrMenteeTextId {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#signUpSurveyButtonId {
    text-align: center;
    margin-top: 5px;
    margin-left: 19px;
    margin-bottom: 5px;
}

#signUpSpacing {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eeeeee;
}

#mentorRadioButton, #menteeRadioButton {
    /* margin: 0px;
    padding: 0px; */
    vertical-align: top;
    width: 10px;
    margin-left: 40px;
    /* text-align: left; */
}

#mentorRadioButton {
    margin-left: 50px;
}

#surveyTableId {
    width: 900px;
}

#newUserId {
    width: 100px;
}

#startMentchingButtonId, #questionOneId {
    width: 850px;
}

#startMentchingButtonId {
    margin-left: 20px;
}

#logOutButtonId {
    float: right;
}

#headerId {
    text-align: center;
    padding-top: 20px;
}

#homepageTableId {
    width: 700px;
    background-color: #BEBEBE;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#logOutButtonId {
    background-color: #dadada;
    border: 0px;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
}

#whiteLine {
    border-top: 1px solid white;
    width: 70%;
}

#homepageTable {
    /* clear: right; */
    margin: 0px;
    display: table;
    background-color: #4b667e;
    text-align: center;
    padding-left: 0px;
    color: white;
    width: 200px;
    height: 900px;
}

.buttonTableClass {
    width: 170px;
    border: 0px;
    text-align: left;
}

.buttonTableClass:hover {
    background-color: #dadada;
}

.buttonSpacing {
    padding-bottom: 0px;
    padding-top: 0px;
}