body {
    background-color: #BEBEBE;
    color: #444444;
    font-family:verdana;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    color:white;
    margin-top: 0px;
}

table {
    margin: auto;
    display: table;
    text-align: center;
    background-color: #eeeeee;
    width: 300px;
}

#logInTableId, #signUpTable, #surveyTableId {
    text-align: left;
    padding-top: 10px;
}

#logInHeaderId, #createAccountId, #matchSurveyId {
    text-align: center;
}

button {
    color:white;
    background-color: #4b667e;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
}

hr {
    border-top: 1px solid lightblue;
    width: 95%;
}

#signUpButtonId {
    margin-top: 10px;
    margin-bottom: 20px;
}

#forgotPasswordId {
    color: #929292;
    font-size: small;
}

input {
    padding: 5px;
    margin-left: 5px;
    border: 1.5px solid darkgray;
    width: 270px;
}

a {
    color:white;
    text-decoration: none;
}

#createAccountId {
    padding-top: 10px;
}

#mentorOrMenteeTextId {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#signUpSurveyButtonId {
    text-align: center;
    margin-top: 5px;
    margin-left: 19px;
    margin-bottom: 5px;
}

#signUpSpacing {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eeeeee;
}

#mentorRadioButton, #menteeRadioButton {
    /* margin: 0px;
    padding: 0px; */
    vertical-align: top;
    width: 10px;
    margin-left: 40px;
    /* text-align: left; */
}

#mentorRadioButton {
    margin-left: 50px;
}

#surveyTableId {
    width: 900px;
}

#newUserId {
    width: 100px;
}

#startMentchingButtonId, #questionOneId {
    width: 850px;
}

#startMentchingButtonId {
    margin-left: 20px;
}

#logOutButtonId {
    float: right;
}

#homepageTableId {
    width: 700px;
    background-color: #BEBEBE;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#logOutButtonId {
    background-color: #dadada;
    border: 0px;
    font-size: 15px;
    margin-top: 0px;
    margin-right: 20px;
}

#headerId {
    text-align: center;
    padding-top: 20px;
    background-color: #4b667e;
    margin-bottom: 0px;
    padding-left: 15px;
}

#whiteLine {
    border-top: 1px solid white;
    width: 70%;
    background-color: #4b667e;
    margin: 0px;
    margin-left: 25px;
    padding: 0px;
    padding-left: 10px;
}

#homepageTable {
    margin: 0px;
    display: table;
    background-color: #4b667e;
    padding-left: 0px;
    color: white;
    width: 15%;
    border-collapse: collapse;
    display: inline;
    float: left;
}

.buttonTableClass {
    /* width: 170px; */
    width: 100%;
    border: 2px solid #4b667e;
    text-align: left;
    border-radius: 0px;
}

.buttonTableClass:hover {
    background-color: #dadada;
}

.buttonSpacing {
    /* border-radius: 0px; */
    padding-bottom: 0px;
    padding-top: 0px;
}

#extraSpacing {
    color: #4b667e;
    padding-bottom: 500px;
    background-color: #4b667e;
}

#homepageTableTwo {
    margin: auto;
    display: table;
    float: left;
    text-align: left;
    /* padding-left: 0px; */
    width: 85%;
    height: 100%;
    background-color: #BEBEBE;
}

#secondHeadingId {
    padding-left: 50px;
    color:white;
    display: inline;
    float: left;
}

#homePagePicture {
    display: block;
    float: left;
    width: 85%;
}

.homePageButton {
    border: 0px;
    margin: 25px;
    width: 20%;
    background-color: #cacaca;
    color: rgb(112, 112, 112);
}